In [1]:
import psycopg2
from getpass import getpass
from pandas import read_sql

In [2]:
pwd = getpass('password')

password········

In [6]:
config = { 'dbname': 'main', 
           'user':'pawel_nowik',
           'pwd':pwd,
           'host':'yamato.data.olxtech.pl',
           'port':'5671'
         }

In [7]:
def create_conn(*args,**kwargs):
    config = kwargs['config']
    try:
        con=psycopg2.connect(dbname=config['dbname'], host=config['host'], 
                              port=config['port'], user=config['user'], 
                              password=config['pwd'])
        return con
    except Exception as err:
        print(err)

In [8]:
con = create_conn(config=config)

In [9]:
df = read_sql("select * from arpu_klienci limit 100", con=con)

In [10]:
df.head()

  kategoria           konsultant  mc_dodania    user_id
0       DiO     Kamil Stachowiak      201909  438365077
1       DiO  Magdalena Dudzińska      201909    4361219
2       DiO     Kamil Stachowiak      201909    7677341
3       DiO  Magdalena Dudzińska      201909  399511240
4       DiO  Magdalena Dudzińska      201909  462787611

In [11]:
df.to_csv(r'C:\Users\pawel.nowik\Desktop\Dane\test_psycopg2.csv',index = None, header=True)