In [30]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('test1_secret.json', scope)
client = gspread.authorize(creds)

sheet = client.open('test2').sheet1

python_gsheets = sheet.get_all_records()

import pandas as pd
import numpy as np

df = pd.DataFrame(python_gsheets)
df_id = df['id_user']

df_id.to_csv(r'C:\Users\pawel.nowik\Desktop\Dane\export_python_test_22.csv',index = None, header=True)

In [14]:
import pandas as pd

In [15]:
import numpy as np

In [16]:
df = pd.DataFrame(python_gsheets)

In [18]:
df

                          cat_l2   id_user               suma  wynik
0  Obsługa klienta / call center  31129455  Reve Listing Tele    462
1               Praca za granicą  48179553  Reve Listing Tele  3,280
2  Obsługa klienta / call center  31129455      Reve Vas Tele  1,297
3           IT / telekomunikacja   1682139      Reve Vas Tele    208
4                      Produkcja  35128699      Reve Vas Tele    119

In [22]:
df_id = df['id_user']
df_id

0    31129455
1    48179553
2    31129455
3     1682139
4    35128699
Name: id_user, dtype: int64

In [29]:
df_id.to_csv(r'C:\Users\pawel.nowik\Desktop\Dane\export_python_test_2.csv',index = None, header=True)