In [13]:
import psycopg2
from pandas import read_sql_query

config = { 'dbname': 'main', 
           'user':'pawel_nowik',
           'pwd':'nq!65GMqmOv7',
           'host':'yamato.data.olxtech.pl',
           'port':'5671'
         }

def create_conn(*args,**kwargs):
    config = kwargs['config']
    try:
        con=psycopg2.connect(dbname=config['dbname'], host=config['host'], 
                              port=config['port'], user=config['user'], 
                              password=config['pwd'])
        return con
    except Exception as err:
        print(err)
        
con = create_conn(config=config)

query = open(r'C:\Users\pawel.nowik\Desktop\SQL Files\Grey - raporty\grey_mond_1.sql')

df = read_sql_query(query.read(),con)

df.head()

#df.to_csv(r'C:\Users\pawel.nowik\Desktop\Dane\test_psycopg2_new.csv',index = None, header=True)

         konsultant  ile_ads
0  Jakub Więckowski     2852
1  Weronika Szóstak      200
2  Patrycja Cięciel      376
3    Kamila Kotarba      428
4     Paula Głowala      630